<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBhwdrdDN9yd-EDRyqUfYtlOxPchU-rZE</string>
	<key>GCM_SENDER_ID</key>
	<string>483005818690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-9b24e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-9b24e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483005818690:ios:903df1e56444f68fc0cadb</string>
</dict>
</plist>